/**
 * styles.css 
 * GroovesharkController 
 * Braden Simpson
 */

body {
	overflow-x: hidden;
	width:530px;
	height:400px;
	background: repeat url("../images/bg_stripes.png");
	font-family: helvetica, sans-serif;
	color: #666;
	font-weight:lighter;
	text-shadow: 0.1em 0.1em 0.05em #333;
	font-size: 12px;
}

table {
	border-spacing: 3px;
}

.playButton, .nextButton, .backButton, .trashButton, .searchButton { 
	float:left;
}

input.searchBox {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	margin: 2px
	white-space: nowrap;
	overflow:hidden;
	float:left;
	width: 230px;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 12px;
	background-color: rgb(230, 230, 255);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.4;
}

input.searchBox:focus {
	/* background-color: rgba(255,255,255, .5); */
	background-color: rgb(245,245,255);
}

.button {
	margin: 2px;
}

.imgBtnsWrap:hover {
	color: #CFDCE6;
	-webkit-box-shadow: 0 0 2px 2px rgba(255,255,255, .8);
	box-shadow: 0 0 2px 2px rgba(255,255,255, .8);
}
.imgBtnsWrap {
	padding:0px !important;
	float:left;
	text-align: center;
	width:auto;
	height:auto;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	cursor: pointer;
	display:inline-block;
}
.imgBtns {
	padding: 0px;
	height: 18px;
	width: 21px;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: 21px;
	background-position: center;
}

a.imgBtnsActive {
	color: white;
	border-color: #388AD4;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	background-position: 0 -80px;
	background-color: #2D7DC5;
}
.shuffleOff{
	background-image: url('../images/shuffleOff.png');
}
.shuffleOn{
	background-image: url('../images/shuffleOn.png');
}
.repeatOff{
	background-image: url('../images/repeatOff.png');
}
.repeatOne{
	background-image: url('../images/repeatOne.png');
}
.repeatAll{
	background-image: url('../images/repeatAll.png');
}
.trashButton {
	background-image: url('../images/trash32.png') !important;
	background-repeat: no-repeat !important;
	background-size: 21px !important;
	display: inline-block;
	width: 21px;
	height:23px;
	margin-right: 0px;
}

/* Styles for the song queue */
.playlistartist {
	color: #CFDCE6;
}

.songCell:hover {
	box-shadow: 0px 0px 2px 2px rgba(100,100,255,.8);
	background-color: rgba(0,0,0,.5);
}

.songCell:hover .songCellText {
	background-color: rgba(0,0,0,.5);
}

.songCell {
	-webkit-transition: all .15s ease-in;
	background-image: linear-gradient(bottom, rgb(160,167,229) 17%, rgb(192,201,255) 59%);
	background-image: -o-linear-gradient(bottom, rgb(160,167,229) 17%, rgb(192,201,255) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(160,167,229) 17%, rgb(192,201,255) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(160,167,229) 17%, rgb(192,201,255) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(160,167,229) 17%, rgb(192,201,255) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(160,167,229)),
		color-stop(0.59, rgb(192,201,255))
	);
	color: white;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border: #CCC thin solid;
	padding: 3px;
	width:73px;
	height:73px;
	margin:0 2px 0 2px;
}
.songCellBackgroundImagePlay {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.songCellTextWrap {
	background-repeat: no-repeat;
	background-width: 100%;
	background-height: 100%;
	background-position: center;
	height:70px;
	width:70px;
	box-shadow:0px 0px 1px 1px #333;
	border:thin solid black;
}

.songCellText {
	-webkit-transiton: all .15s ease-in;
	background-color: rgba(0,0,0,.1);
	max-height: 73px;
	height: 100%;
	width:100%;
	text-align: center;
	overflow: hidden;
}
.nowPlaying {
	margin-top:10px;
}

/* Styles for the search dialog */
.songResultsRow {
	cursor: pointer;
}

.songResultsRow td {
	border-radius:2px;
}

.songListWaiting {
	background-image: url("../images/songResultList.gif");
}
.songResultListWrap {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	border-radius:5px;
	box-shadow: 0 0 5px #212121;
	position:absolute;
	left:10px;
	top:10px;
	padding:5px;
	width:96%;
	color:#212121;
	text-shadow: none;
	background-color: #FFF;
	display:none;
}
.songResultsTable tbody tr:nth-child(odd) {
	background-color: #EFF2FF;
}
.songResultsTable {
	font-size: 12px;
}
.songResultsTable th {
	border-bottom: 2px solid lightBlue;
}
.songResultsTable tbody tr:hover {
	background-color:lightblue;
    color: #369;
}

.tempAddToPlaylistTd {
	-webkit-border-radius: 2px 2px;
	min-width: 15px;
	min-height: 15px;
	background-image: url("../images/plus.png");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center center;
}
.tempAddToPlaylistTd:hover {
	background-color:lightblue;
}

.songResultControl {
	background: #474747;
	border-radius:3px;
	height:30px;
}

.songResultListWrap .searchResultsTitle {
	border-right: #212121;
	box-shadow: 5px 0 5px #212121;
	float:left;
	display:inline-block;
	font-weight:bold;
	color:#CCC;
	height:69%;
	padding:5px;
	text-shadow: 0 2px 3px #212121;
}

.songResultListWrap .closeBtn {
	border-right:none;
	border-left: #212121;
	box-shadow: -5px 0 5px #212121;
	float:right;
	display:inline-block;
	height:69%;
	padding:5px;
	background: url("../images/close.png") center center;
	background-size: 16px 16px;
	background-repeat:no-repeat;
	width:15px;
	cursor:pointer;
}

.loading {
	background: url("../images/songResultList.gif");
	backgroung-repeat:no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height:32px;
	margin:20px auto 0 auto;
}